{% extends 'base.html' %}
{% load static %}
{% block title %} Главная {% endblock %}
{% block content %}

<!-- End Portfolio Section -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Баскетбол</h2>
          <p>Статьи на тему баскетбола</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">статьи</li>
<!--              <li data-filter=".filter-app">App</li>-->
<!--              <li data-filter=".filter-card">Card</li>-->
<!--              <li data-filter=".filter-web">Web</li>-->
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
        {% for article in articles %}

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{{ article.image.url }}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>{{ article.title }}</h4>
              <p>{{ article.user }}</p>
              <div class="portfolio-links">
                <a href="{{ MEDIA_URL }}{{ article.image }}" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="{{ article.get_absolute_url }}" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        </div>

      </div>
    </section>
{% endblock %}